Day3/Chatbot with Web Search and Email.json
{
  "name": "Chatbot with Web Search and Email",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "e8cb517c-49bd-4514-bf08-8532bcf98329",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        240,
        304
      ],
      "webhookId": "5c6e3091-68d6-45bc-9382-364cab653532"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant that can search the web for current information. Use the web search tool to find up-to-date information when needed."
        }
      },
      "id": "067bd33a-9d6d-4b39-9afe-da08e456f872",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        464,
        304
      ]
    },
    {
      "parameters": {
        "sendTo": "vranwikar@gmail.com",
        "subject": "={{ \"AI Query Response - \" + $now.toFormat(\"MMM d, yyyy\") }}",
        "message": "={{ \"<h2>Your Question:</h2><p>\" + $(\"Chat Trigger\").item.json.chatInput + \"</p><h2>Response:</h2><p>\" + $json.output + \"</p>\" }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "83a48098-fa1c-43fd-b561-eecc72aae0f0",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        816,
        304
      ],
      "webhookId": "946ddec7-adcc-4a29-9614-9857271fd3f9",
      "credentials": {
        "gmailOAuth2": {
          "id": "tviUD2NhQtiFHkSP",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        336,
        512
      ],
      "id": "59cea659-b0c1-4ac6-8d8c-f3a1c6a71048",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "T77PfyK6XMPnYORL",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        480,
        512
      ],
      "id": "02bf9097-b8b7-42d5-80de-b6cb5ee248fd",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "query": "={{ $json.chatInput }}",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        704,
        528
      ],
      "id": "3d9be657-f559-4564-a0e7-a5f79b8d2fd6",
      "name": "Search in Tavily",
      "credentials": {
        "tavilyApi": {
          "id": "hpoGZH2Tko43PWXK",
          "name": "Tavily account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Search in Tavily": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "7439571e-0e44-4f58-a33b-1964cbc59eb3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "104b2c23ba917d062f27e0aecabda078684bd9aa99067abf80b4e6b549f47ebf"
  },
  "id": "82qiE3CcEolsvPTO",
  "tags": []
}