Day3/GmailClassificationFinal.json
{
  "name": "GmailClassificationFinal",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        864,
        768
      ],
      "id": "086d7477-2323-441f-934d-1f0032c5a0b2",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "tviUD2NhQtiFHkSP",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "inputText": "=Body-  {{ $json.snippet }}\nSubject- {{ $json.Subject }}",
        "categories": {
          "categories": [
            {
              "category": "Customer Inquiry ",
              "description": "Any email having customer inquiry request, project request, mentoring request should be classified under this category. "
            },
            {
              "category": "Newsletters ",
              "description": "Any email which has the new updates, product updates, newsletters should be classified under this category"
            },
            {
              "category": "Technical Support",
              "description": "Any email which has a requirement for technical support where the customer is stuck and they need technical help to resolve their blocker, or raising a customer support ticket, should be classified under this category. "
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        1040,
        768
      ],
      "id": "8a8606a7-c800-485c-a9cf-3b7d3c7383f9",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": "openai/gpt-5-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1040,
        960
      ],
      "id": "2001df21-9cbd-466e-b3e9-c4080774952a",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "T77PfyK6XMPnYORL",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1456,
        912
      ],
      "id": "fa1c4a28-f1c1-4b52-90b8-41c6f9b6b629",
      "name": "Delete a message",
      "webhookId": "f67aa467-01b5-47a5-a9aa-61de618f5ad8",
      "credentials": {
        "gmailOAuth2": {
          "id": "tviUD2NhQtiFHkSP",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "IMPORTANT"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1408,
        672
      ],
      "id": "a608b745-3913-4e49-99a1-6f96853a7f37",
      "name": "Add label to message",
      "webhookId": "2a2f394d-c4c4-4f75-ad3a-a28059c82761",
      "credentials": {
        "gmailOAuth2": {
          "id": "tviUD2NhQtiFHkSP",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Email-  {{ $('Text Classifier').item.json.snippet }}",
        "options": {
          "systemMessage": "You are email writing expert. Our company name is Tech Wizards. We provide tech consultations, projects execution etc. \n\nMy available slots is 7-8 and 8-9 PM IST Monday to Friday\n\nEnd email with company name. Be friendly and precise while drafting an email reply \n\nDon't give me subject while generating email response \n\nDon't use em-dashes in your response"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1712,
        656
      ],
      "id": "a3ced468-17c5-4f03-b49a-66c230a5b0a5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-5-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1664,
        832
      ],
      "id": "9141735a-6b16-45ac-b730-91f0e87bea6b",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "T77PfyK6XMPnYORL",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('Gmail Trigger').item.json.Subject }}",
        "message": "={{ $json.output }}",
        "options": {
          "threadId": "={{ $('Gmail Trigger').item.json.threadId }}",
          "sendTo": "={{ $('Gmail Trigger').item.json.From }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2128,
        752
      ],
      "id": "ddb0fe58-eacc-44f9-8c37-f5347b9af346",
      "name": "Create a draft",
      "webhookId": "ca9dc8b7-012f-443e-9b5b-c9e63b302088",
      "credentials": {
        "gmailOAuth2": {
          "id": "tviUD2NhQtiFHkSP",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ce67826c-6580-44c1-b399-ec3c416393cd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "104b2c23ba917d062f27e0aecabda078684bd9aa99067abf80b4e6b549f47ebf"
  },
  "id": "7cOEMfBCbQfOVIpz",
  "tags": []
}